{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <meta name="author" content="{% block meta_author %}{% endblock meta_author %}">
    <meta charset="UTF-8"/>

    <title>{% block title %}{{ "Backend" | trans }}{% endblock title %} | Hoteles</title>

    {% block stylesheets %}
        {{ include('BackEndBundle:Skeleton:css.html.twig') }}
    {% endblock stylesheets %}

    <link rel="icon" type="image/x-icon" href="{% block favicon %}{{ asset('bundle/frontend/img/cubanacan.ico') }}{% endblock favicon %}" />

</head>

<body class="{% block body_class %}{% endblock body_class %}">

{% block body %}{% endblock body %}

{% block javascripts %}
    {{ include('BackEndBundle:Skeleton:javascript.html.twig') }}
{% endblock javascripts %}

</body>

</html>
{% endspaceless %}