<div class="ibox-content">
    <h2>{{ 'Gastronomía' | trans }}</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Project</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Project
                <small>This is example of project</small>
            </td>
            <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
        </tr>
        <tr>
            <td>Project
                <small>This is example of project</small>
            </td>
            <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
        </tr>
        <tr>
            <td>Project
                <small>This is example of project</small>
            </td>
            <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
        </tr>
        <tr>
            <td>Project
                <small>This is example of project</small>
            </td>
            <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>