<div class="ibox-content">
    <h2>{{ 'Marca' | trans }}</h2>
<div class="table-responsive">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'Nombre' | trans }}</th>
            <th style="text-align:right">{{ 'Acciones' | trans }}</th>
        </tr>
        </thead>
        {% verbatim %}
        <tbody>
        <tr ng-show="ho.hotel.hotel_marca.nombre != ''">
            <td>{{ ho.hotel.hotel_marca.nombre }}</td>
            <td class="ibox-tools">
                <a href="" ng-click="ho.updateMarca(ho.hotel.hotel_selected)"><i class="fa fa-cog"></i></a>
            </td>
        </tr>
        </tbody>
        {% endverbatim %}
    </table>
</div>
</div>