<div class="ibox-content">
    <span class="text-muted small pull-right">
      <div class="ibox-tools">
          <a ng-click="ho.addGastronomia()" class="btn btn-primary btn-xs">
              <i class="fa fa-plus"></i>
          </a>
      </div>
    </span>
    <h2>{{ 'Gastronomía' | trans }}</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'Nombre' | trans }}</th>
            <th style="text-align:right">{{ 'Acciones' | trans }}</th>
        </tr>
        </thead>
        {% verbatim %}
        <tbody>
        <tr ng-repeat="gastronomia in ho.hotel.hotel_gastronomia">
            <td>{{ gastronomia.name }}</td>
            <td class="ibox-tools">
                <a href=""><i class="fa fa-cog"></i></a>
                <a href=""><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        </tbody>
        {% endverbatim %}
    </table>
</div>
</div>