<li class="top-user-area-avatar">
    <a href="user-profile.html">
        <img class="origin round" src="{{ asset('bundles/frontend/img/40x40.png') }}" alt="Image Alternative text" title="AMaze" />Hi, John</a>
</li>
<li><a href="#">Sign Out</a>
</li>