<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <img alt="image" class="img-circle" src="{{ asset('bundles/frontend/img/profile-picture.png') }}"/>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">David Williams</strong>
                             </span>
                                <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a ui-sref="profile">Profile</a></li>
                        <li><a ui-sref="contacts">Contacts</a></li>
                        <li><a ui-sref="inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="../login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li ng-class="{active: $state.includes('projects')}">
                <a ui-sref="projects.project_manager"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">{{ 'Gestionar Proyectos' | trans }}</span><span class="fa arrow"></span></a>
            </li>
            <li ng-class="{active: $state.includes('modules')}">
                <a ui-sref="modules.modules_manager"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">{{ 'Gestionar Modulos' | trans }}</span><span class="fa arrow"></span></a>
            </li>
            <li class="landing_link">
                <a href="#" onclick="javascript:return false" class="nav-label">Modulos Instalados</a>
            </li>
        </ul>

    </div>
</nav>